@media only screen and (min-width:320px) and (max-width:480px){
    *{
        margin: 0px;
    }
    body nav h5{
            display: flex;
            flex-direction: row;
            display: inline-block;
            border: 2px solid red;
            width: 50px;
            /* justify-content: space-around; */
            font-family: "Poppins";
            align-items: bottom;
            font-weight: bold;
        }
    div.nav-items {
            display: flex;
            flex-direction: row;
            /* display: inline-block; */
            /* justify-content: space-between; */
            /* display: absolute; */
            margin-left: 00px;
            /* border: 2px solid black; */
            width: 900px;
            color: #838181;
    
     }
     .navLogo{
        width: 70px;
     }
    .actionSvg{
        position: absolute;
        margin-top: 50px;
        border: 2px solid red;
        width: 300px;
        height: 30px;
        margin-left: 20px;
    }
    
    /* intro section */
    div.intro-section{
        text-align: center;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }

    div.headphone-div{
        /* border: 2px solid black; */
        height: 60%;
    }
    [headphone]{
        position: relative;
        width: 350px;
        z-index: -1;
        margin-left: 00px;
        top: -50%;
    }
    .discount{
        position: relative;
        width: 100px;
        height: 150px;
        top: 55%;
        left: 10%;
    }
    .discount-content{
        /* border: 2px solid red; */
        width: 200px;
        font-family: "Poppins";
        position: relative;
        font-size: 12px;
        top: 30%;
        left: 90px;
    }
    div.discount-content h1{
        position: relative;
        font-size: 25px;
        margin-left: 10px;
        bottom: 70px;
    }
    .dot1::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #f6bb4c;
    }
    .dot2::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #f87534;
    }
    .dot3::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #171717;
    }
    .dots{
        position: relative;
        display: flex;
        display: inline-block;
        flex-direction: row;
        margin-left: 30px;
        margin-top: -60px;
        z-index: -1;
    }
    div.threeDot{
        position: absolute;
        display: inline;
        margin-left: 150px;
        /* margin-top: -1000px; */
        /* z-index: -1; */
    }

}

@media only screen and (min-width:481px) and (max-width:1024px){


}

    